<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
     <rules>
	  <rule name="Rewrite ASP">
       <match url="^Tutor_Index/negativopositivo" />
       <action type="Rewrite" url="Tutor_Index.asp?t=19" />
      </rule>
     </rules>
    </rewrite>
  </system.webServer>
</configuration>